DATABASE_URL="postgresql://postgres:postgres@localhost:55432/schoolms?schema=public"
DATABASE_URL_DOCKER="postgresql://postgres:postgres@db:5432/schoolms?schema=public"

NEXTAUTH_SECRET="change-me"
NEXTAUTH_URL="http://localhost:3000"
